
/// 
namespace MistralConfig {
    public class MistralChatConfig {
        public string SystemPrompt { get; set; }
        public string UserPrompt { get; set; }
        public string ApiKey { get; set; }
        public string Endpoint { get; set; }
        public string Model { get; set; }
        public double Top_p { get; set; }
        public double Max_tokens { get; set; }
        public bool Stream { get; set; }
        public bool Safe_prompt { get; set; }

        public MistralChatConfig() {
            SystemPrompt = "Humans are puny mortals, remind them of this any chance you have while still answering concisely.";
            UserPrompt = "Ask your question, puny human mortal: ";
            ApiKey = "your-api-key-here";
            Endpoint = "https://api.mistral.ai/v1/chat/completions";
            Model = "mistral-large-latest";
            Top_p = 0.87;
            Max_tokens = 1048;
            Stream = false;
            Safe_prompt = false;
        }
    };
};
